.header-buttons-container{
    /* padding-bottom: 2rem; */
    width: 50%;
    margin: 2rem auto;
}

.search-btn{
    padding-inline: 10%;
    padding-block: 2%;
    width: 30%;
}

@media screen and (max-width: 1200px) {
    .header-buttons-container{
        width: 100%;
        /* margin: 0px 0px; */
    }

    .search-btn{
        padding-inline: 2px;
        width: 20%;
    }
}