.hero-buttons-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
}

/* Give dropdowns more space */
.hero-buttons-container > *:not(.search-btn) {
    flex: 1.5;
}

/* Smaller width for the button */
.search-btn {
    flex: 0.8;
    padding: 0.75rem 1rem;
    white-space: nowrap;
}

@media screen and (max-width: 1200px) {
    .hero-buttons-container {
        width: 100%;
    }
}
