.navbar-bottom-container{
    border-top: 1px solid rgba(0,0,0,0.1);
}

.navbar-bottom-inner{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.navbar-bottom-btns{
    gap: 20px;
    display: flex;
    flex-direction: row;
    padding-block: 1%;
}

.navbar-bottom-btns button{
    background-color: #670001;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    border-width: 0px;
    padding: 3%;
    border-radius: 6%;
    margin-inline: 0.2%;
    white-space: nowrap;
}

.navbar-bottom-links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-bottom-links a{
    color: black;
    font-size: 0.9rem;
}

@media screen and (max-width: 1200px) {
    .navbar-bottom-links{
        display: none;
    }

    .navbar-bottom-inner{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}