.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 280px;
  height: 100vh;
  background-color: rgb(51,51,51);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}


.sidebar.open {
  left: 0;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}


.sidebar-links a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(170, 170, 170);
  border-bottom: 1px solid black;
  background-color: transparent;
}

.sidebar-links a:hover {
  filter: brightness(90%); /* Subtle hover effect */
}